mexc-api
aiogram
asyncpg==0.29.0
psycopg2-binary==2.9.9
pymexc
pytz
loguru
httpx
apscheduler
python-dotenv==1.0.1
tradingview-ta==3.3.0

# pip install -r requirements.txt
# .venv\Scripts\activate
# файл содержит список зависимостей, необходимых для работы бота,
# включая aiogram для работы с Telegram API, asyncpg для асинхронного взаимодействия с
# PostgreSQL, и psycopg2-binary для работы с PostgreSQL.
